@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background-image: url("/bg_img_user.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'GmarketSans', sans-serif;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #171717;
  }
}

.smart-locker-box {
  width: 100%; /* 화면의 넓이에 맞게 100% 설정 */
  margin: 0 auto; /* 가로 중앙 정렬 */
  padding: 20px; /* 박스 내부 여백 */
  background-color: #f4f4f4; /* 배경색 (예시) */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 (선택 사항) */
}

/* GmarketSans Light / Medium / Bold 버전을 하나의 폰트 패밀리로 정의 */
@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansLight.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansMedium.otf') format('opentype');
  font-weight: 400; /* 일반(normal) 또는 Medium에 적당한 숫자 */
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansBold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

