@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background-image: url("/bg_img_user.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #171717;
  }
}

.smart-locker-box {
  width: 100%; /* 화면의 넓이에 맞게 100% 설정 */
  margin: 0 auto; /* 가로 중앙 정렬 */
  padding: 20px; /* 박스 내부 여백 */
  background-color: #f4f4f4; /* 배경색 (예시) */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 (선택 사항) */
}
